@media screen and (max-width: 1150px) {
    /*.container{*/
    /*padding: 0 40px;*/
    /*}*/
    .section.right .block {
        width: 100%;
    }
    .soc{
        padding: 0 50px;
    }
}

@media screen and (min-width: 992px) {

    .section.right .photo {
        display: none;
    }
    .section.right .block .block-doc{
        display: none;
    }
    .section.right .block .medicines-photo{
        display: none;
    }
    .section.right .block .family-photo{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .section.right .block {
        width: 100%;
        padding: 0 35px;
    }
    .content {
        padding: 0;
    }
    .right .header{
        padding:  0;
    }
    .right .header .title {
        font-size: 36px;
        line-height: 39px;
        font-weight: bold;
    }

    .section.left {
        display: none;
    }

    .section.right .block .header .logo {
        display: none;
    }
    .section.right .block .block-doc{
        display: block;
    }
    .block-doc{
        margin-bottom: 0;
    }
    .block-doc img{
        margin: 0 auto;
    }
    .block-doc .info-doc{
        font-size: 15px;
        padding: 5px 25px;
        position: relative;
        z-index: 10;
        bottom: 90px;
        max-width: 300px;
        width: 100%;
        margin: -20px auto 0 auto;
    }
    .section.right .block .medicines-photo{
        display: block;
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }
    .section.right .block .family-photo{
        display: block;
        margin: 0 auto 50px auto;
    }
    .bank-requisites{
        word-break: break-word;
    }
    .text{
        word-break: break-all;
    }
    .text span a{
        width: 100%;
        display: block;
    }
    .soc{
        padding: 0 50px;
    }
    .wrapp-btn{
        height: 100px;
    }
    .wrapp-btn a{
        padding: 10px 30px;
        font-size: 21px;
        line-height: 25px;
    }
}
@media screen and (max-width: 500px) {
    .right .header .title {
        font-size: 28px;
        line-height: 39px;
        font-weight: bold;
    }
    .soc{
        padding: 0;
    }
    .payments{
        padding: 40px 15px;
    }
    .payments-info{
        padding: 0 15px 35px 15px;
    }
    .payments iframe{
        height: 270px;
    }
    .payment-title{
        font-size: 25px;
        line-height: 35px;
    }
}