*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.2px;
}
button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    text-decoration-line: underline;
}
.wrapper{
    background-color: #edf0f2;
    position: relative;
    padding-bottom: 150px;
}
.container{
    max-width: 1150px;
    position: relative;
    margin: 0 auto 0 auto;
    display: block;
}
.content{
    padding: 70px 0 0 0;
    display: flex;
}

.section.left{
    max-width: 500px;
    width: 100%;
    margin-right: 30px;
    display: block;
}
.section.right{
    width: 100%;
}
.block-doc{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.left .block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    width: 100%;
}
.block-doc{
    cursor: pointer;
    margin-bottom: 160px;
}
.block-doc img{
    display: block;
    max-width: 300px;
    width: 100%;
    margin-top: -10px;
}
.block-doc .info-doc{
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #fff;
    background: rgba(0, 20, 32, 0.8);
    border-radius: 30px;
    position: absolute;
    padding: 8px 33px;
    bottom: 10px;
    text-align: center;
}

.medicines-photo{
    width: 100%;
    display: block;
    max-width: 450px;
}
.family-photo{
    display: block;
    max-width: 350px;
    width: 100%;
}
.footer-logo{
    display: block;
    max-width: 120px;
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.right .header{
    margin-bottom: 40px;
    position: relative;
    padding: 70px 0 0 0;
}
.right .header .logo{
    position: absolute;
    right: 0;
    top: -20px;
}
.right .header .title{
    font-size: 51px;
    line-height: 51px;
    font-weight: bold;
}

.text{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}
.text span{
    font-size: 15px;
}
.text._title{
    font-size: 21px;
    font-weight: bold;
}
.bank-requisites{

}
.bank-requisites .score{
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 10px;
}
.bank-requisites .score span{
    font-weight: bold;
}

.soc{
    display: flex;
    justify-content: space-around;
    padding: 0 175px;
    margin-bottom: 20px;
}
.wrapp-btn{
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapp-btn a{
    background: #A6031C;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    border-radius: 90px;
    font-weight: 800;
    font-size: 33px;
    line-height: 45px;
    color: #fff;
    padding: 20px 100px;
    text-decoration-line: none;
}

.payments-wrapper{
    background: #fff;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
.payments{
    justify-content: center;
    display: flex;
    padding: 40px 75px 30px 75px;
    /*flex-direction: column;*/
}
.payments iframe{
    min-height: 250px;
    max-width: 423px;
    min-width: 200px;
    width: 100%;
    border: none;
}
.payments-info{
    padding: 0 40px 35px 40px;
}
.payment-title{
    /*padding: 0 40px 0 40px;*/
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
}